*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --beige: #f1e3d2;
    --warm-brown: #a6610d;
    --brown: #d9a86c;
    --light-brown: #d9b68b;
    --dark-brown: #734022;
    --very-dark-brown: #492b1a;
}

@font-face {
    font-family: "titre";
    src: url(polices/CHABUL.ttf);
}

@font-face {
    font-family: "shading";
    src: url(polices/NIGHTBURN.otf);
}

@font-face {
    font-family: "btn";
    src: url(polices/Retrograde.ttf);
}


.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: .01rem;
}

section {
    padding: 5rem 13vw;
}

body {
    background-color: var(--beige);
    padding: 0;
    margin: 0;
    color: var(--dark-brown);
    overflow-x: hidden;
}

.background-overlay {
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('dessins/lumiere.png');
    background-repeat: no-repeat;
    background-position: 4vw 100%;
    background-size: 17%;
    z-index: -1;
    transition: filter 0.3s ease;
}

body.dark-mode {
    background-color: var(--very-dark-brown);
    color: var(--beige);
}

body.dark-mode .background-overlay {
    filter: invert(1) hue-rotate(180deg) brightness(0.7) contrast(1.3);
}

/* page d'accueil */

.home {
    height: 100vh;
   /* position: relative; */
    background-image: url(dessins/potion.png), 
                    url(dessins/wall-e.png)/* ,
                    url(dessins/champy.png) */;
    background-repeat: no-repeat;
    background-position: top right, 5% 100%, 15% 10%;
    background-size: 20%,22%, 10%;
}


body.dark-mode .home {
    filter: invert(.9) hue-rotate(185deg);
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .champy {
    position: absolute;
    top: -20%;
    left: -20px;
    width: 150px;
    height: auto;
    object-fit: contain;
    z-index: 0;
}

.home .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Garde le titre centré */
    z-index: 1;
    perspective: 1000px; /* Crée une perspective 3D */
}

.home h1 {
    font-family: "titre", sans-serif;
    font-size: 7rem;
    color: var(--warm-brown);
    text-align: center;
    margin: 0;
    border-radius: 30px;
    box-shadow: 0 5px 20px 0 var(--dark-brown);
    backdrop-filter: blur(2px);
    transition: transform 0.1s ease; 
    transform-origin: center; 
    padding: 2rem;
}

body.dark-mode .home h1 {
    color: var(--warm-brown);
}
 
.home h2 {
    font-family: shading;
    font-size: 4.5rem;
    z-index: 2;
    color: black;
    text-align: center;
    margin-top: 50px;
    color: var(--dark-brown);
    text-transform: none;
}

body.dark-mode .home h2 {
    color: var(--very-dark-brown);
}

.home .dessins {
    position: absolute;
    text-align: right;
    bottom: 20px;
    right: 30px;
    width: 25%;
    z-index: 0;
    color: var(--dark-brown);
    font-weight: bold;
}

@media (max-width: 800px) {
    .home .dessins {
        right: 50%;
        transform: translateX(50%);
        bottom: 115px;
        width: 40%;
        text-align: center;
    }
}

/* .cta {
    text-decoration: none;
    position: fixed;
    z-index: 50;
    margin: 1rem;
} */


/* animation fade in */

.fade-in-right-home {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInRight 3s ease-out forwards;
    animation-delay: 1s;
}

.fade-in-left-home {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInLeft 3s ease-out forwards;
    animation-delay: 1s;
}

/* État initial : invisible pour fade-in-right */
.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* État initial : invisible pour fade-in-left */
.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* État visible pour les deux */
.fade-in-right.visible,
.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Animation for the moving title */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation for the moving title */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}




/* section about me */

.about_me {
    padding-top: 0;
    margin-top: 4rem;
}


.about_me .card {
    display: grid;
    grid-template-columns: minmax(100px, 35%) 1fr;    
    grid-template-areas: 
    "pdp text"
    "pdp abt_btn";
    width: fit-content;
    gap: 2.5rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}

body.dark-mode .about_me .card {
    color: var(--dark-brown);
}

.about_me .pdp {
    width: fit-content;
    height: 250px;
    border-radius: 5%;
    box-shadow: 0 3px 15px 0 var(--dark-brown);
    grid-area: pdp;
}

body.dark-mode .about_me .pdp {
    box-shadow: 0 3px 15px 0 var(--brown);
}

.about_me .text {
    grid-area: text;
    max-width: 500px;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--beige);
    padding: 1rem;
    border-radius: 15px;
    border: var(--warm-brown) 1px solid;
}

body.dark-mode .about_me .text {
    background-color: var(--verydark-brown);
    border: var(--beige) 1px solid;
    color: var(--beige);
}

.about_me .logo_skills {
    width: fit-content;
    height: 60px;
}

.about_me .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me span {
    font-size: smaller;
}

.about_me .skills_crea {
    display: flex; 
    gap: 1rem;
    margin: 0;
}

.about_me .skills_dev {
    display: flex; 
    gap: 1.4rem;
    margin: 0;
}

.about_me .skills {
    display: flex;
    justify-content: end;
    gap: 20px;
    max-width: 600px;
    flex-wrap: wrap;
    margin-left: auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
    font-size: 1.2rem;
    background-color: var(--beige);
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: fit-content;
    font-family: btn;
}

body.dark-mode .btn {
    color: var(--beige);
    background-color: var(--very-dark-brown);
    border: var(--beige) 1px solid;
}


@media (width<=1000px) {
    .btn {
        font-size: 1rem;
    }
}

.btn:hover:not(.cv,.linkedin,.github) {
    background-color: var(--dark-brown);
    color: var(--beige);
}

.cv {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.linkedin {
    background-color: var(--warm-brown);
    color: var(--beige);
    padding-right: 2.2rem;
    text-align: center;
}

body.dark-mode .linkedin {
    background-color: var(--warm-brown);
    color: var(--beige);
}

.linkedin:hover {
    background-color: var(--beige);
    color: var(--warm-brown);
}

body.dark-mode .linkedin:hover {
    color: var(--beige);
    background-color: var(--very-dark-brown);
}

.github {
    padding-right: 2rem;
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--beige);
}

body.dark-mode .github {
    background-color: var(--beige);
    color: var(--dark-brown);
}

.github:hover {
    background-color: var(--beige);
    color: var(--dark-brown);
}

body.dark-mode .github:hover {
    color: var(--beige);
    background-color: var(--very-dark-brown);
}

.abt_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: abt_btn;
}

.abt_btns {
    display: flex;
    gap: 10px;
}

.about_me i:not(.fa-download) {
    font-size: .8rem;
    position: absolute;
    margin-left: 3px;
}

h2 {
    font-family: titre;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
}

@media (width<=1250px) {
    .opquast .text, .temoignages .card .text, .about_me .text {
        font-size: 1rem;
    }
}

@media (width<=800px) {
    h2 {
        font-size: 3.2rem;
    }
    .about_me .logo_skills {
        width: fit-content;
        height: 45px;
    }
}

@media (width<=650px) {
    .about_me .card {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }
    .about_me .pdp {
        height: 200px;
    }
}

@media (width<=450px) {
    h2 {
        font-size: 2.5rem;
    }    
}

h3 {
    font-family: titre;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

.about_me h3 {
    text-align: right;
    padding: 2rem;
    margin-left: 20px;
}

.about_me h2 {
    text-align: left;
    padding-bottom: 2rem;
}

.about_me .dessin {
    margin: 0;
    position: absolute;
    left: -10px;
    width: 40%;
}

body.dark-mode .about_me .dessin {
    filter: invert(1) hue-rotate(180deg) brightness(0.7) contrast(1.7);
}




/* section projects */



.projets {
    padding-top: 0;
}

.projets .works {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.projets .work {
    /* height: 350px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    max-width: 320px;
}

.projets .preview-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease; 
    pointer-events: none;
}

.work:hover {
    transform: scale(1.015);
    box-shadow: 0 0 10px 3px var(--very-dark-brown);
}

body.dark-mode .work:hover {
    box-shadow: 0 0 10px 3px  var(--beige);
}

.work:hover .preview-video {
    opacity: 1; 
}

.projets .hh {
    background-image: url('images/hh2.png');
    height: 320px;
}

.projets .baron {
    height: 200px;
    background-image: url('images/baron.png');
    margin-top: auto;
}

.projets .wp {
    background-image: url('images/wp.png');
    height: 250px;
}

.projets .moviz {
    background-image: url('images/moviz.png');
    height: 230px; 
    margin-top: auto;
}

.projets .anglais {
    background-image: url('images/anglais.jpg');
    height: 180px; 
}

.projets .cv-video {
    background-image: url('images/cv-video.jpg');
    height: 280px; 
}

.projets .btn_work {
    position: absolute;
    bottom: .7rem;
    margin: 1rem;
    z-index: 5;
}

.projets .preview-video {
    height: 100%; /* Hauteur identique pour uniformité */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
}

.type {
    position: absolute;
    margin: 10px;
    padding: 2px .5rem;
    border-radius: 50px;
    background-color: #c99253;
    z-index: 7;
    display: none;
}

.lilo {
    width: 250px;
    margin-left: 5rem;
}

body.dark-mode .lilo {
    filter: invert(1) hue-rotate(180deg);
}

body.dark-mode .projets .btn {
    background-color: var(--dark-brown);
}

body.dark-mode .projets .btn:hover {
    background-color: var(--beige);
    color: var(--dark-brown);
    border: var(--dark-brown) 1.5px solid;
}

@media (width<=1200px) {
    .projets .works {
        max-width: 700px;
    }
    .projets .work {
        aspect-ratio: 5 / 3;
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
}

@media (max-width: 850px) {
    .projets .works {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px; 
    }
    .lilo {
        width: 200px;
    }
}

@media (max-width: 670px) {
    .projets .works {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .lilo {
        display: none;
    }
}


/* setion opquast */

.opquast {
    background-color: var(--light-brown);
    padding: 2.5rem 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

body.dark-mode .opquast {
    background-color: var(--dark-brown);
}

.opquast p {
    font-size: 1.2rem;
    max-width: 550px;
}

.opquast img {
    width: 20%;
    margin-right: 50px;
    object-fit: cover;
}

body.dark-mode .opquast img {
    filter: invert(1) hue-rotate(180deg);
}

@media (width<=1110px) {
    .opquast img {
        width: 18%;
    }
}

@media (width<=910px) {
    .opquast img {
        display: none;
    }
    .home h1 {
        font-size: 5rem;
    }
}


/* section témoignages */

.temoignages h2 {
    padding: 5rem 0 0 13vw;
}

.temoignages .card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    padding: 0 3vw;
    /* gap: 45px; */
}

.temoignages .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: var(--dark-brown) 1px solid;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: 1rem;
}

body.dark-mode .temoignages .card {
    border: var(--beige) 1px solid;
}

.temoignages .card p {
    margin: 0;
    padding: 0;
    max-width: 300px;
    font-size: 1.2rem;
}

.temoignages .card img {
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    border-radius: 500%;
    object-fit: cover;
}

.temoignages .auteur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auteur span {
    font-size: 1rem;
}

@media (width<=800px) {
    .temoignages .card img {
        width: 65px;
        height: 65px;
    }
}

@media (width<=1110px) {
    .temoignages .card {
        max-width: 400px;
    }
}

/* NAV */

/* Style de la navigation latérale */
.side-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1000;
    border: var(--dark-brown) 3px solid;
    border-radius: 50px;
    padding: 8px 8px;
    background-color: var(--beige);
}

body.dark-mode .side-nav {
    border: var(--beige) 3px solid;
    background-color: var(--very-dark-brown);
}
  
/* Style des icônes avec images PNG */
.nav-icon {
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
background-color: var(--beige);
border-radius: 50%;
border: var(--dark-brown) 1px solid;
box-shadow: 0 2px 5px var(--dark-brown);
transition: all 0.3s ease;
cursor: pointer;
text-decoration: none;
}

body.dark-mode .nav-icon {
    border: var(--beige) 1px solid;
    box-shadow: 0 2px 5px var(--warm-brown);
}

.nav-icon img {
width: 1.9rem;
height: 1.9rem;
transition: transform 0.3s ease;
}

.nav-icon:hover,
.nav-icon:focus {
background-color: var(--light-brown);
transform: scale(1.1);
}

.nav-icon:hover img,
.nav-icon:focus img {
transform: rotate(360deg); 
}


@media (max-width: 950px) {
    .side-nav {
        flex-direction: row;
        right: 50%;
        bottom: 24px; 
        transform: translateX(50%);
        top: auto;
    }
}

@media (max-width: 500px) {
    .side-nav {
        display: none;
    }
    .home .dessins {
        bottom: 30px;
        right: 130px;
        text-align: right;
        width: 40%;
    }
}
  
.sr-only {
border: 0 !important;
clip: rect(1px, 1px, 1px, 1px) !important;
-webkit-clip-path: inset(50%) !important;
clip-path: inset(50%) !important;
height: 1px !important;
overflow: hidden !important;
padding: 0 !important;
position: absolute !important;
width: 1px !important;
white-space: nowrap !important;
}

.active {
    background-color: var(--light-brown);
}



  /* moodboard */

.mb {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.moodboard {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    max-height: 100vh;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1rem;
}


.mb h3 {
    text-align: left;
    margin-top: 5rem;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.moodboard-item {
    position: absolute;
    overflow: hidden;
    cursor: grab;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--dark-brown);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode .moodboard-item {
    box-shadow: 0 2px 6px var(--beige);
}

.moodboard-item:active {
    cursor: grabbing;
}

.moodboard-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px var(--dark-brown);
}

body.dark-mode .moodboard-item:hover {
    box-shadow: 0 4px 8px var(--beige);
}

.moodboard-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hidden-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.reset-button {
    padding: 10px 20px;
    background-color: var(--dark-brown);
    color: var(--beige);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    height: fit-content;
    z-index: 100;
    margin: 0 auto;
    transition: transform 0.2s ease;
    font-family: "btn";
}

body.dark-mode .reset-button {
    background-color: var(--beige);
    color: var(--dark-brown);
}

.reset-button:hover {
    transform: scale(1.05);
}

/* Initial positions for items, slightly overlapping */
.item-1 { top: 10vh; left: 15vw; width: 14vw; height: 14vw; }
.item-2 { top: 20vh; left: 20vw; width: 15vw; height: 15vw; }
.item-3 { top: 30vh; left: 5vw; width: 11vw; height: 11vw; }
.item-4 { top: 15vh; left: 40vw; width: 16vw; height: 16vw; }
.item-5 { top: 35vh; left: 35vw; width: 13vw; height: 13vw; }
.item-6 { top: 25vh; left: 50vw; width: 13vw; height: 13vw; }
.item-7 { top: 12vh; left: 40vw; width: 15vw; height: 15vw; }
.item-8 { top: 35vh; left: 25vw; width: 17vw; height: 17vw; }
.item-9 { top: 40vh; left: 10vw; width: 14vw; height: 14vw; }
.item-10 { top: 45vh; left: 50vw; width: 13vw; height: 13vw; }
.item-11 { top: 10vh; left: 50vw; width: 15vw; height: 15vw; }
.item-12 { top: 50vh; left: 30vw; width: 14vw; height: 14vw; }


.hidden-thingy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 3rem;
    font-family: "titre", sans-serif;
    color: var(--warm-brown);
    text-align: center;
}

body.dark-mode .hidden-thingy {
    color: var(--beige);
}

@media (max-width: 950px) {
    .hidden-thingy {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .moodboard {
        height: 60vh;
    }
    .about_me {
        padding-bottom: 0;
    }
}

/* pop up projets */

/* Modale */
.modal {
display: none;
position: fixed;
z-index: 1000;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
}

body.dark-mode .modal {
background: rgba(0, 0, 0, 0.65);
}

.close {
font-size: 4rem;
position: absolute;
top: -25px;
right: 20px;
cursor: pointer;
transition: all 0.5s ease;
}

.close:hover {
transform: rotate(30deg);
translate: 3px;
}

.modal-content {
position: relative;
margin: 5% auto;
padding: 20px;
/* background: white; */
width: 80%;
max-width: 650px;
border-radius: 10px;
text-align: center;
background-color: var(--beige);
}

body.dark-mode .modal-content {
background-color: var(--very-dark-brown);
}

.modal-body {
margin-bottom: 20px;
}

.modal-title {
font-size: 2rem;
margin-bottom: 2rem;
margin-top: .5rem;
}

.modal-group, .modal-context, .modal-type {
border: var(--dark-brown) 1px solid;
border-radius: 15px;
padding: 2px 10px; 
font-size: .9rem;  
margin-right: 5px;
}

body.dark-mode .modal-group, body.dark-mode .modal-context, body.dark-mode .modal-type {
border: var(--beige) 1px solid;
}

.modal-things {
text-align: left;
display: flex;
flex-wrap: wrap;
gap: 5px;
}

.modal-description {
margin-bottom: 15px;
text-align: left;
font-size: 1.1rem;
margin: 1.5rem 0;
}

.modal-details {
text-align: left;
list-style: none;
padding: 0;
}

.modal-link {
display: inline-block;
margin-top: 10px;
margin-bottom: 1rem;
}

body.dark-mode .modal-link:hover {
background-color: var(--beige);
color: var(--dark-brown);
}

.modal-navigation {
display: flex;
justify-content: space-between;
}

.modal-navigation button {
background: var(--light-brown);
color: var(--dark-brown);
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
transition: all 0.2s ease;
}

.modal-navigation button:hover {
background: var(--brown);
}

.preview-container {
position: absolute;
bottom: 200px;
transform: translateY(-50%);
display: none;
}

.preview-image {
width: 150px;
object-fit: cover;
height: 100px;
border-radius: 8px;
}

.modal-image {
width: fit-content;
height: 135px;
object-fit: cover;
border-radius: 15px;    
}

.modal-image-container {
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 30px;
}

@media (width<=750px) {
    .modal-image-container {
        flex-direction: column;
    }
    .modal-things {
        justify-content: center;
        margin-bottom: 1rem;
    }
    .modal-description {
        font-size: 1rem;
        margin: .5rem 0;
    }
    .modal-title {
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
    }
    .modal-group, .modal-context, .modal-type {
        font-size: .8rem;
    }
    .modal-details {
        font-size: .9rem;
    }
    .modal-link {
        font-size: .9rem;
        margin-top: 0;
    }
    .modal-navigation button {
        padding: 8px;
    }
    .preview-container {
        bottom: 150px;
    }
    .preview-image {
        display: none;
    }
    .modal-image {
        height: 120px;
    }
    .close {
        font-size: 3.5rem;
        top: -20px;
        right: 15px;
    }
}

@media (width<=400px) {
    .modal-content {
        width: 90%;
    }
    .modal-image {
        height: 100px;
    }
    .modal-title {
        font-size: 1.2rem;
    }
    .modal-description {
        font-size: .9rem;
    }
    .modal-group, .modal-context, .modal-type {
        font-size: .7rem;
    }
    .modal-details {
        font-size: .8rem;
    }
    .modal-link {
        font-size: .8rem;
    }
    .modal-navigation button {
        padding: 6px;
    }
    .close {
        font-size: 3rem;
        top: -15px;
        right: 10px;
    }
}



/* Icône sur chaque projet */

.open-modal i {
    font-size: 1.3rem;
    position: relative;
    top: 2px;
    right: 3px;
}



/* CONTACT */

.contact {
text-align: center;
padding-bottom: 7rem;
position: relative;
}

.contact .container {
max-width: 800px;
margin: 0 auto;
padding: 30px;
border: var(--dark-brown) 1px solid;
box-shadow: 6px 7px 5px #7340227b;
border-radius: 10px;
backdrop-filter: blur(2px);
}

body.dark-mode .contact .container {
border: var(--beige) 1px solid;
}

.contact p {
font-size: 1.1rem;
margin-bottom: 30px;
}

.contact-info {
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.contact-item {
width: 30%;
}

.contact-item h3 {
font-size: 1.2rem;
margin-bottom: 10px;
}

.contact-item p, .contact-item ul {
font-size: 1rem;
}

.contact-item a {
text-decoration: none;
color: var(--dark-brown);
}

body.dark-mode .contact-item a {    
color: var(--beige);
}

.social-links {
list-style: none;
padding: 0;
margin-bottom: 0;
}

.social-links li {
margin: 5px 0;
}

@media (max-width: 850px) {
    .contact-item {
      width: 45%;
    }
    .home h2 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 580px) {
    .contact-item {
      width: 100%;
    }
    .home h1 {
      font-size: 3.5rem;
    }
    .home h2 {
      font-size: 3rem;
    }
  }


.skip {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 10000;       
}

a.skip:focus {
    left: 0;
}

footer p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: .2rem;
}




/* HEADER : bouton langues et dark mode */

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: space-between;  
    background-color: transparent; 
    z-index: 1000; 
    padding: 0 20px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;    
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: 10px;
}

body.dark-mode header a {
    color: var(--beige);
}

.header-left img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

header .portfolio {
    font-family: "titre", sans-serif;
    font-size: 2rem;
    color: var(--dark-brown);
    text-decoration: none;
    transition: transform 0.3s ease;
}

@media (max-width: 500px) {
    header .portfolio {
        font-size: 1.5rem;
    }
}

.language-selector {
    display: flex;
    gap: 3px; 
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}

.language-selector button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 5px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.language-selector button img {
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.language-selector button:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

/* Cacher le bouton de langue non sélectionné */
.language-selector button[data-lang="fr"] {
    display: none;
}


#toggle-dark-mode {
    background: var(--beige);
    border: 2px solid var(--dark-brown);
    border-radius: 50%;
    padding: 7px 7px;
    font-size: 1.3rem;
    color: var(--dark-brown);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Effet au survol pour le bouton de dark mode */
#toggle-dark-mode:hover {
    background-color: var(--dark-brown);
    color: var(--beige);
    border-color: var(--dark-brown);
}

/* Effet pour le bouton actif */
#toggle-dark-mode:active {
    transform: scale(0.95);
}

/* Bouton actif dans le mode sombre */
body.dark-mode #toggle-dark-mode {
    background: var(--dark-brown);
    color: var(--beige);
    border-color: var(--beige);
}

/* Bouton actif dans le mode sombre */
body.dark-mode #toggle-dark-mode:hover {
    background: var(--beige);
    color: var(--dark-brown);
    border-color: var(--beige);
}



/* Loader */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2000;
}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    animation: slideUp 1.1s ease-out forwards;
}

.layer:nth-child(1) {
    background-color: var(--light-brown);
    animation-delay: 1.1s;
    z-index: 1;  /* Assurez-vous que cette couche se place derrière les autres */
}

.layer:nth-child(2) {
    background-color: var(--dark-brown);
    animation-delay: .96s;
    z-index: 2;
}

.layer:nth-child(3) {
    background-color: var(--brown);
    animation-delay: 0.87s;
    z-index: 3;
}

.layer:nth-child(4) {
    background-color: var(--warm-brown);
    animation-delay: 0.78s;
    z-index: 4;
}

.layer:nth-child(5) {
    background-color: var(--very-dark-brown);
    animation-delay: 0.75s;
    z-index: 5;
}

.layer:nth-child(6) {
    background-color: var(--beige);
    animation-delay: 0.65s;
    z-index: 6;
}

.layer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: auto;
    object-fit: contain;
}


@keyframes slideUp {
    0% {
        transform: translateY(0);  /* Commence au bas de l'écran */
    }
    100% {
        transform: translateY(-100%);  /* Se déplace vers le haut jusqu'à disparaître */
    }
}






/* Container des particules */
.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.particle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--brown);
    border-radius: 50%;
    animation: moveParticle 3s linear infinite, blurEffect 3s linear infinite;
}

/* Animation des particules */
@keyframes moveParticle {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        transform: translate(var(--move-x), var(--move-y)); 
        opacity: 1;
    }
    100% {
        transform: translate(calc(var(--move-x) * 1.5), calc(var(--move-y) * 1.5)); 
        opacity: 0;
    }
}

/* Animation pour ajouter un flou dynamique */
@keyframes blurEffect {
    0% {
        filter: blur(3px);
    }
    50% {
        filter: blur(6px);
    }
    100% {
        filter: blur(3px);
    }
}

