*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --beige: #f1e3d2;
    --warm-brown: #a6610d;
    --brown: #d9a86c;
    --light-brown: #d9b68b;
    --dark-brown: #734022;
}

@font-face {
    font-family: "titre";
    src: url(polices/CHABUL.ttf);
}

@font-face {
    font-family: "notes";
    src: url(polices/Cute\ Notes.ttf);
}

@font-face {
    font-family: "btn";
    src: url(polices/Retrograde.ttf);
}


.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: .01rem;
}

section {
    padding: 4rem 20rem;

}

@media(width<=1200px) {
    section {
        padding: 2rem 10%;
    }
}

body {
    background-color: var(--beige);
    padding: 0;
    margin: 0;
/*     font-family: body;
 *//*     background-image: url(dessins/potion.png), 
                    url(dessins/graphic_design.png),
                    url(dessins/kirby.png), 
                    url(dessins/uxui.png),
                    url(dessins/creative_developer.png);
    background-repeat: no-repeat;
    background-position: top right, -100px -200px, 15% 70%, 90% 60%, 55% -170px;
    background-size: 320px,550px,320px,520px,990px; */
}

/* page d'accueil */

.home {
    height: 100vh;
   /* position: relative; */
    background-image: url(dessins/potion.png), 
                    url(dessins/graphic_design.png),
                    url(dessins/kirby.png), 
                    url(dessins/uxui.png),
                    url(dessins/creative_developer.png);
    background-repeat: no-repeat;
    background-position: top right, -150px -150px, 20% 95%, 90% 60%, 57% -52%;
    background-size: 320px,550px,320px,520px,990px;
}

.home .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Garde le titre centré */
    z-index: 1;
    perspective: 1000px; /* Crée une perspective 3D */
}

.home h1 {
    font-family: titre;
    font-size: 10rem;
    color: var(--warm-brown);
    text-align: center;
    margin: 0;
    border-radius: 8%;
    box-shadow: 0 5px 20px 0 var(--dark-brown);
  /*   background-color: var(--beige); */
/*     text-shadow: 
        1px 1px 3px rgba(238, 213, 182, 0.908),  
        1px 1px 5px rgba(204, 136, 34, 0.8),   
        0px 0px 8px rgba(184, 115, 51, 0.9),  
        0px 0px 11px rgba(230, 170, 80, 1); */
    backdrop-filter: blur(10px);
/*     position: relative; 
    pointer-events: none;  */
    transition: transform 0.1s ease; 
    transform-origin: center; 
}

/* .home h1:hover {
    transform: translateY(-300px);
    transition: transform 0.3s ease-in-out;
}*/
 
.home p {
    font-family: notes;
    font-size: 2.5rem;
    z-index: 2;
    color: black;
    text-align: center;
    margin-top: 50px;
    color: var(--dark-brown);

/*     backdrop-filter: blur(10px);*/
}

.cta {
    text-decoration: none;
    position: fixed;
    z-index: 5;
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
/*     text-transform: uppercase; */
    color: var(--warm-brown);
    font-size: 1.5rem;      /* media queries */
    font-family: btn;
}

.qualifs a {
    text-decoration: none;
    color: var(--warm-brown);
}

.dev {
    font-size: 2.2rem;
    text-align: center;
    color: var(--dark-brown);
}

hr {
    margin: 20px;
    border: 1.2px solid var(--warm-brown);
}

.liste {
    position: relative;
    top: 90%;
}



/* section about me */

/* .about_me {
    background-image: url(dessins/ampoule.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 10%;
} */

.about_me .card {
    display: grid;
    grid-template-columns: minmax(100px, 35%) 1fr;    grid-template-areas: 
    "pdp text"
    "pdp abt_btn";
    width: fit-content;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about_me .pdp {
    width: fit-content;
    height: 250px;
    border-radius: 5%;
    box-shadow: 0 3px 15px 0 var(--dark-brown);
    grid-area: pdp;
}

.about_me .text {
    grid-area: text;
    max-width: 450px;
    font-size: 1.2rem;
    margin-top: 0;
}

.about_me .logo_skills {
    width: fit-content;
    height: 60px;
}

.about_me .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me span {
    font-size: smaller;
    color: var(--dark-brown);
}

.about_me .skills_crea {
    display: flex; 
    gap: 1rem;
    margin: 0;

}

.about_me .skills_dev {
    display: flex; 
    gap: 1.4rem;
    margin: 0;
}

.about_me .skills {
    display: flex;
    justify-content: end;
    gap: 20px;
    max-width: 600px;
    flex-wrap: wrap;
    margin-left: auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
    font-size: 1.2rem;
    background-color: var(--beige);
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: fit-content;
    font-family: btn;
}

@media (width<=1000px) {
    .btn {
        font-size: 1rem;
    }
}

.btn:hover:not(.cv,.linkedin,.github) {
    background-color: var(--dark-brown);
    color: var(--beige);
}

.linkedin {
    background-color: var(--warm-brown);
    color: var(--beige);
    padding-right: 2.2rem;
    text-align: center;
}

.linkedin:hover {
    background-color: var(--beige);
    color: var(--warm-brown);
}

.github {
    padding-right: 2rem;
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--beige);
    font-size: 1.5rem;
}

.github:hover {
    background-color: var(--beige);
    color: var(--warm-brown);
}

.abt_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: abt_btn;
}

.abt_btns {
    display: flex;
    gap: 20px;
}

.about_me i:not(.fa-download) {
    font-size: .8rem;
    position: absolute;
    margin-left: 3px;
}

h2 {
    font-family: titre;
    text-transform: uppercase;
    color: var(--dark-brown);
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-family: titre;
    text-transform: uppercase;
    color: var(--dark-brown);
    font-size: 2rem;
    margin: 0;
}

.about_me h3 {
    text-align: right;
    padding: 2rem;
    margin-left: 20px;
}

.about_me h2 {
    text-align: left;
    padding: 2rem;
}

.about_me .dessin {
    margin: 0;
    position: absolute;
    left: -10px;
    width: 40%;
}





/* section projects */

/* .projets .works {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.projets .hh {
    width: 500px; 
    height: 350px; 
    background-image: url('images/hh.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
} 

.projets .baron {
    width: 250px; 
    height: 250px; 
    background-image: url('images/baron.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
} */

.projets .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.projets .hh, .projets .baron, .projets .wp {
    height: 350px; /* Hauteur identique pour uniformité */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
}

.projets .hh {
    background-image: url('images/hh.png');
}

.projets .baron {
    background-image: url('images/baron.png');
}

.projets .wp {
    background-image: url('images/charlotte.png');
}

.projets .btn_work {
    position: absolute;
    bottom: .7rem;
    margin: 1rem;
}









/* setion contact */

.contact h2{
    text-align: right;
}

